build
debug
release
GeneratedFiles
x64
x86
.vs
.qmake.stash
*.pro.user
*.autosave
*.vcxproj.user
*.VC.db
*.VC.VC.opendb
/_Bin
/_Obj
/Installer/Release.x64
/Installer/wix
/*.wixobj
/releaseNote.txt
/tmpver.txt
/*.sln
/*.vcxproj
/*.filters
/android/gradlew.bat
/android/gradle.properties
/android/gradlew
/android/gradle
