Source: logview
Section: utils
Priority: optional
Maintainer: chipmunk.sm <dannico@linuxmail.org>
Build-Depends: debhelper,
            qtbase5-dev,
            qttools5-dev-tools
Standards-Version: 4.0.0

Package: logview
Architecture: any
Homepage: https://github.com/chipmunk-sm/logview
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Simple log view/monitor
