[Desktop Entry]
Categories=Utility
Comment=LogView
GenericName=LogView
Name=LogView
Exec=logview
Icon=logview_logo
StartupNotify=true
Terminal=false
Type=Application
