# This is a basic workflow that is manually triggered

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: update debian changelog

jobs:
  build:
    name: update changelog
    runs-on: ubuntu-latest
    steps:
    - name: Checkout master      
      uses: actions/checkout@master
    - name: Run info        
      run: |
           echo "The job was automatically triggered by a ${{ github.event_name }} event."
           echo "This job is now running on a ${{ runner.os }} server hosted by GitHub!"
           echo "The name of your branch is ${{ github.ref }} and your repository is ${{ github.repository }}."
           echo "The ${{ github.repository }} repository has been cloned to the runner."
           echo "The workflow is now ready to test your code on the runner."
           ls ${{ github.workspace }}
           echo "This job's status is ${{ job.status }}."

       # env: GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
       #   tag_name: ${{ github.ref }}
       #   release_name: Release ${{ github.ref }}
